@keyframes full-slide-from-right {
  from {
    transform: translateX(100%);
  }
}

@keyframes full-slide-to-left {
  to {
    transform: translateX(-100%);
  }
}

@keyframes move-out {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-100%);
  }
}

@keyframes move-in {
  from {
    transform: translateX(100%);
  }
}

::view-transition-old(root) {
  animation-name: move-out;
  animation-duration: 600ms;
  animation-timing-function: ease-in-out;
}

::view-transition-new(root) {
  animation-name: move-in;
  animation-duration: 600ms;
  animation-timing-function: ease-in-out;
}

.main-header {
  /* ...kode lainnya disembunyikan... */

  view-transition-name: main-header;
}

.main-footer {
  view-transition-name: main-footer;
}

.error-toast {
  view-transition-name: error-toast;
}

#dashboard-image {
  background-image: url('../public/images/dashboard.png');
}

.autocomplete-suggestions::-webkit-scrollbar {
  width: 6px;
}
.autocomplete-suggestions::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.autocomplete-suggestions::-webkit-scrollbar-thumb {
  background: #d1d5db;
  border-radius: 6px;
}
.autocomplete-suggestions::-webkit-scrollbar-thumb:hover {
  background: #9ca3af;
}
/* Add a subtle transition for a smoother experience */
.transition-all {
  transition: all 0.2s ease-in-out;
}
/* Style for the highlighted suggestion item */
.suggestion-active {
  background-color: #dbeafe; /* bg-blue-100 */
}

@media print {
  .main-header,
  .main-footer,
  .tindakan,
  .summary-actions,
  button {
    display: none;
  }
}

@media (max-width: 500px) {
  #print-button {
    display: none;
  }
}
